
body {
    margin : 0;
    padding : 0;
    overflow : hidden;
}

#leftpane {
    position : absolute;
    left : 0;
    right : 350px;
    top : 0;
    bottom : 0;
}

#gameview {
    width : 100%;
    height : 100%;
    z-index : 0;
}

#rightpane {
    position : absolute;
    width : 350px;
    top : 0;
    bottom : 0;
    right : 0;
    background : white;
}

#commandui {
    width : 350px;
    margin-top: 10px;
}

#rightpaneexpander {
    position : absolute;
    top : 0px;
    right : 350px;
    width : 30px;
    height : 30px;
    background : white;
}

.space-above-below {
    margin-top : 4px;
    margin-bottom : 4px;
}
