
body {
    margin : 0;
    padding : 0;
}

#leftpane {
    width : auto;
    height : 100%;
    background : #eee;
}

#rightpane {
    width : 350px;
    height : 100%;
    float : right;
    background : white;
}

#commandui {
    width: 350px;
}

#rightpaneexpander {
    width : 30px;
    height : 30px;
    float : right;
}
