planning/
node_modules/
client/all*.js
client/all*.js.map
client/all*.min.js
client/all*.min.js.map
npm-debug.log
client/all.litcoffee
lessons/
gamedb/
client/makerland*.*
tmp/
electron/*.js
electron/*.map
electron/client
electron/server
electron/sampleuniverse
MakerLand-*-*
mystart.sh
sustart.sh